.block{
    width: 30%;
    margin: 20% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgreen;
    animation-name: animatsiya;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-direction: alternate-reverse ;
}
.box:nth-child(2){
    animation-delay: 0.2s;
}
.box:nth-child(3){
    animation-delay: 0.4s;
}
.box:nth-child(4){
    animation-delay: 0.6s;
}
.box:nth-child(5){
    animation-delay: 0.8s;
}
@keyframes animatsiya{
    0%{
        transform: scale(4);
        background-color: blue;
    }
    50%{
        background-color:#245eff
    }
    100%{
        transform: scale(1);
    }
}